/*

Highway Template

https://templatemo.com/tm-520-highway

*/

body {
  font-family: 'Staatliches', sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.9);
}
/* Add a thumb */
body::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.9);
}

body, html {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
  cursor: none!important;
  scroll-behavior: smooth!important;
}


.page-heading {
  background-image: url(../img/heading_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
}

.page-heading .heading-content h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  background-color: rgba(250,250,250,0.1);
  display: inline-block;
  margin-bottom: 0;
  margin-top: 220px;
  padding: 20px 60px;
}

.page-heading .heading-content em {
  font-style: normal;
  font-weight: 200;
}



/* Nav Bar */

nav .logo {
  float: left;
  margin-left: 30px;
}

nav .logo a {
  font-size: 28px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
}

nav .logo em {
  font-style: normal;
  font-weight: 200;
}

nav .logo img {
  width: 41px; /* Or adjust for a fixed width */
  line-height: 50px;
  float: left;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 0.1px;

}

nav {
  background: rgba(250,250,250,0.01);
  height: 42px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  cursor: none;
}

.menu-icon {
  background: transparent;
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
  margin: 10px 30px 0 auto;
  position: relative;
  cursor: none;
  transition: background 0.5s;
  border-radius: 5px;
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
  cursor: none;
  border-radius: 0.5px;
  height: 0.5px;
  width: 7px;
  background: white;
  position: absolute;
  left: 33%;
  top: 50%;
  display: block;
  content: '';
  transition: all 0.7s ease-in-out;
}

.menu-icon span:before {
  left: 0;
  top: -5px;
}

.menu-icon span:after {
  left: 0;
  top: 5px;
}

.menu-icon.active {
  background: rgba(250,250,250,0.01);
}

.menu-icon.active span {
  background-color: transparent;
}

.menu-icon.active span:before,
.menu-icon.active span:after {
  top: 0;
}

.menu-icon.active span:before {
  transform: rotate(135deg);
}

.menu-icon.active span:after {
  transform: rotate(-135deg);
}
/* Menu */

.overlay-menu {
  background: rgba(0, 0, 0, 0.95);
  color: #ffffff;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding: 14px 0;
  opacity: 0;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.5s;
  cursor: none;
}

.overlay-menu.open {
  opacity: 1;
  transform: translateY(0%);
}

.overlay-menu .main-menu {
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0s;
}

.overlay-menu.open .main-menu {
  transition: all 0.7s;
  transition-delay: 0.7s;
  opacity: 1;
  transform: translateY(0%);
}

.overlay-menu .main-menu:nth-child(2) {
  transition-delay: 0s;
}

.overlay-menu.open .main-menu:nth-child(2) {
  transition-delay: 1.25s;
}

.overlay-menu {
  overflow: scroll;
}

.overlay-menu::-webkit-scrollbar {
  display: none;
}

.overlay-menu ul {
  list-style: none;
  margin-top: 10vh;
  padding: 0px;
}
.overlay-menu ul li {
  padding: 15px 0px;
}

.overlay-menu ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.overlay-menu ul li em {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1px;
  color: #fff;
  text-decoration: none;
  transition: all 0.7s;
}

.overlay-menu ul li a:hover {
  color: rgba(250,250,250,0.5);
  cursor: none;
}


.overlay-menu p {
  margin-top: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: center;
}


#video-container  {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

#video-container .video-overlay {
  z-index: 9999;
  background: rgba(0,0,0,0.5);
  width: 100%;
}

#video-container .video-content {
  z-index: 99999;
  position: absolute;
  height: 100%;
  width: 100%;
}

#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-flow: column wrap;
  line-height: 7px;
  gap: 1px;
}

#video-container .video-content .inner h1 {
  font-family: 'Codystar', sans-serif;
  font-size: 49px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 10px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1px;
  gap: 1px;
}

#video-container .video-content .inner h2 {
  font-size: 47px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 7px;

}

#video-container .video-content .inner em {
  font-style: normal;
  font-weight: 200;
  padding-top: 7px;
  gap: 1px;
}


#video-container .video-content .inner p {
  color: #fff;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  padding: 0px 5px;
  margin-bottom: 14px;
  gap: 1px;
}

#video-container .video-content .inner a {
  color: #fff;
  text-decoration: underline;
  margin-bottom: 5px;
  gap: 1px;
}

#video-container .video-content .inner .scroll-icon {
  margin-top: 45px;
}

.full-screen-portfolio .container-fluid,
.full-screen-portfolio .col-md-4, .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}


.portfolio-item img {
  width: 100%;
  overflow: hidden;
  cursor: none;
}

.portfolio-item .thumb {
  position: relative;
  cursor: none;
}


.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
	cursor: none;
}


.full-screen-portfolio .portfolio-item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 15px;
  transform: translateY(25px);
  transition: .5s ease-in-out;
  letter-spacing: 0.5px;
 }

 .full-screen-portfolio .portfolio-item em {
  font-style: normal;
  font-weight: 200;
 }

.full-screen-portfolio .portfolio-item:hover h1 {
  transform: translateY(0);
  cursor: none;
 }

.full-screen-portfolio .portfolio-item p {
  padding-left: 20px;
  font-weight: 300!important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
  text-transform: uppercase;
 }

 .full-screen-portfolio .portfolio-item {
 text-align: center;
 line-height: 150%;
 text-transform: lowercase;
 cursor: none;
}

.full-screen-portfolio .portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
  cursor: none;
 }




.popup-icon {
  position: fixed;
  bottom: 50px;
  right: 65px;
  z-index: 300;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.popup-icon button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: none;
}

.modal-btn img {
  width: 35px;
  height: 35px;
  cursor: none;
}

/* Modal */
.modal {
  background-color: rgba(0,0,0,0.99);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: all 0.6s;
  overflow: scroll;
  cursor: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

/* Modal Content */
.modal-content {
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  cursor: none;
  margin-bottom: 20px;
}
.modal-animated-in {
  animation: totop-in .6s ease;
}
.modal-animated-out {
  animation: totop-out .6s ease forwards;
}
.modal-header {
  border-bottom: none;
}
.modal-header h3 {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 21px;
  border-bottom: none;
  margin-bottom: 20px;
}

.modal-header em {
  font-style: normal;
  font-weight: 200;
}

.modal-content .close-btn {
  position: absolute;
  z-index: 99999999;
  color: #fff;
  right: 25px;
  top: 15px;
  width: 15px!important;
  height: 15px!important;
  text-align: center;
  cursor: none;
}

.modal-body {
  text-align: center;
  margin: 0 auto;
  cursor: none;
  top: 3vh;
  margin-bottom: 14px!important;
}

.modal-body input {
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  cursor: none;
}

.modal-body select {
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 200;
  color: #fff; /* Set text color to white */
  background-color: #000; /* Set background color to black */
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  cursor: none;
}

.modal-body .datepicker { /* Added */
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  cursor: none;
}

.modal-body textarea {
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 25px;
  cursor: none;
}

.modal-body button {
  border-radius: 0px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid #fff;
  display: inline-block;
  padding: 0px 0px 3px 0px;
  transition: all 0.5s;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 5vh;
}

.modal-body button:hover {
  color: rgba(250,250,250,0.5);
  border-color: rgba(250,250,250,0.5);
  outline: none;
}

/* Keyframes */
@keyframes totop-in {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 0%;
    opacity: 1;
  }  
}

@keyframes totop-out {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }  
}



footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  cursor: none;
}

footer p {
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 33px;
  letter-spacing: 0.5px;
  cursor: none;
}

footer a {
  color: #aaa;
  text-decoration: none;
  cursor: none;
}

footer a:hover {
  text-decoration: none;
  color: #aaa;
  cursor: none;
}



.masonry-portfolio .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  cursor: none;
}

.masonry .col-md-4, .masonry .col-md-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.masonry {
  width: 100%;
  background-color: transparent;
  position: relative;
  cursor: none;
}

.masonry .item {
  display: inline-block;
  float: left;
  cursor: none;
}

.masonry .first-item {
  margin-bottom: -0.5px;
  cursor: none;
}

.masonry .last-item {
  float: left;
  cursor: none;
}

.masonry .item img {
  width: 100%;
  overflow-y: hidden;
  cursor: none;
}

.masonry .item .thumb {
  position: relative;
  cursor: none;
}

.masonry .item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 5px;
    left: 0;
	cursor: none;
}


.masonry .item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 7px;
  transform: translateY(25px);
  transition: .5s ease-in-out;
  letter-spacing: 0.5px;
  cursor: none;
 }

.masonry .item em {
  font-style: normal;
  font-weight: 200;
  cursor: none;
 }

.masonry .item:hover h1 {
  transform: translateY(0);
  cursor: none;
 }

.masonry .item p {
  padding-left: 20px;
  font-weight: 300!important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
  text-transform: uppercase;
  cursor: none;
 }

.masonry .item {
 text-align: center;
 line-height: 150%;
 text-transform: lowercase;
 cursor: none;
}

.masonry .item:hover p {
  opacity: 1;
  transform: translateY(0);
  cursor: none;
 }




.grid-portfolio {
  padding: 65px 0px;
  background-color: #232323;
}

.grid-portfolio .portfolio-item {
  margin: 15px 0px;
}

.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 5px;
    left: 0;
	cursor: none;
}


.grid-portfolio .portfolio-item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 15px;
  transform: translateY(25px);
  transition: .5s ease-in-out;
  letter-spacing: 0.5px;
 }

 .grid-portfolio .portfolio-item em {
  font-style: normal;
  font-weight: 200;
 }

.grid-portfolio .portfolio-item:hover h1 {
  transform: translateY(0);
 }

.grid-portfolio .portfolio-item p {
  padding-left: 20px;
  font-weight: 300!important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
  text-transform: uppercase;
 }

.grid-portfolio .portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
 }

 .grid-portfolio .load-more-button {
  margin-top: 15px;
 }

 .grid-portfolio .load-more-button a {
  width: 100%;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  background-color: #313131;
  transition: all 0.5s;
 }

 .grid-portfolio .load-more-button a:hover {
  color: rgba(250,250,250,0.5);
 }




 .services {
  background-color: #232323;
  padding: 65px 0px;
 }

 .services .service-item {
  margin: 15px 0px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
 }

  .services .service-item:hover {
    background-color: #313131;
  }

 .services .service-item .icon {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
 }

.services .service-item .icon img {
  max-width: 100%;
}

.services .service-item h4 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.services .service-item p {
  color: #bbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}



.more-about-us {
  background-image: url(../img/about_us.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
}

.more-about-us .content {
  background-color: rgba(0,0,0,0.8);
  text-align: left;
  padding: 150px 60px;
  color: #fff;
}

.more-about-us .content h2 {
  margin-top: 0px;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.more-about-us .content span {
  font-size: 16px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.more-about-us .content p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.more-about-us .content .simple-btn {
  margin-top: 30px;
}

.more-about-us .content .simple-btn a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid #fff;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 0.5s;
}

.more-about-us .content .simple-btn a:hover {
  opacity: 0.5;
}



.pricing-tables {
  padding: 65px 0px;
  background-color: #232323;
}

.pricing-tables .table-item {
  padding: 60px 0px;
  margin: 15px 0px;
  text-align: center;
  background-color: #313131;
}

.pricing-tables .table-item h4 {
  margin-top: 0px;
  font-size: 36px;
  font-weight: 200;
  color: #f4dd5b;
  letter-spacing: 0.5px;
}

.pricing-tables .table-item span {
  font-size: 17px;
  display: inline-block;
  color: #aaa;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border-bottom: 1px solid #414141;
  width: 100%;
  padding-bottom: 40px;
}

.pricing-tables .table-item ul {
  list-style: none;
  padding: 0;
  margin-top: 35px;
}

.pricing-tables .table-item ul li {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
  margin: 15px 0px;
}

.pricing-tables .table-item .simple-btn {
  margin-top: 40px;
  padding-bottom: 10px;
}

.pricing-tables .table-item .simple-btn a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #f4dd5b;
  letter-spacing: 2px;
  border-bottom: 3px solid #f4dd5b;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 0.5s;
}

.pricing-tables .table-item .simple-btn a:hover {
  opacity: 0.5;
}

.pricing-tables .premium-item {
  background-color: #f4dd5b;
}

.pricing-tables .premium-item h4, .pricing-tables .premium-item span, .pricing-tables .premium-item ul li, .pricing-tables .premium-item .simple-btn a {
  color: #232323;
  border-color: #232323;
}



.blog-entries {
  padding: 80px 0px;
  background-color: #232323;
}


.blog-entries .blog-posts {
  margin-right: 30px;
}


.blog-post {
  border-bottom: 1px solid #414141;
  padding-bottom: 65px;
  margin-bottom: 60px;
}

.blog-post img {
  width: 100%;
  overflow-y: hidden;
}

.blog-post .text-content {
  margin-top: 30px;
}

.blog-post .text-content span {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 0.5px;
}

.blog-post .text-content span a {
  color: #f4dd5b;
  text-decoration: none;
}

.blog-post .text-content h2 {
  margin-top: 5px;
  font-size: 36px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 300;
}

.blog-post .text-content p {
  color: #bbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 20px;
}

.blog-post .text-content .simple-btn {
  margin-top: 25px;
}

.blog-post .text-content .simple-btn a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid #fff;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 0.5s;
}

.blog-post .text-content .simple-btn a:hover {
  opacity: 0.5;
}

.blog-entries .page-number {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-entries .page-number li {
  display: inline-block;
  margin-right: 3px;
}

.blog-entries .page-number li:last-child {
  margin-right: 0px;
}

.blog-entries .page-number li.active a {
  color: #232323;
  background-color: #fff;
}

.blog-entries .page-number li.active a:hover {
  opacity: 1;
}

.blog-entries .page-number li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background-color: #414141;
  transition: all 0.5s;
}

.blog-entries .page-number li a:hover {
  opacity: 0.5;
}

.single-blog-post {
  margin-right: 30px;
}

.single-blog-post img {
  width: 100%;
  overflow-y: hidden;
}

.single-blog-post .text-content {
  margin-top: 20px;
}

.single-blog-post .text-content span {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #414141;
  padding-bottom: 25px;
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
}

.single-blog-post .text-content span a {
  color: #f4dd5b;
  text-decoration: none;
}

.single-blog-post .text-content h2 {
  margin-top: 0px;
  font-size: 36px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 300;
}

.single-blog-post .text-content p {
  color: #bbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.single-blog-post .tags-share {
  border-top: 1px solid #414141;
  border-bottom: 1px solid #414141;
  padding: 8px 0px 10px 0px;
}

.single-blog-post .tags-share ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.single-blog-post .tags-share ul li:first-child {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.single-blog-post .tags-share ul li {
  display: inline-block;
  color: #fff;
}

.single-blog-post .tags-share ul li a {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.5px;
  color: #f4dd5b;
  text-decoration: none;
  transition: all 0.5s;
}

.single-blog-post .tags-share ul li a:hover {
  opacity: 0.5;
}

.single-blog-post .tags-share .share {
  text-align: right;
}

.blog-entries .search input {
  background-color: rgba(250,250,250,0.1);
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  border-radius: 0px;
  outline: none;
  border: none;
}

.sidebar-heding h2 {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 40px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #414141;
  margin-bottom: 20px;
}

.archives ul, .categories ul {
  margin-top: -5px;
  padding: 0;
  list-style: none;
}

.archives ul li, .categories ul li {
  margin-bottom: 12px; 
}

.archives ul li:last-child, .categories ul li:last-child {
  margin-bottom: 0px; 
}

.archives ul li a, .categories ul li a {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}


.archives ul li a:hover, .categories ul li a:hover {
  opacity: 0.5;
}

.recent-posts ul {
  padding: 0;
  list-style: none;
}

.recent-posts ul li {
  margin-bottom: 15px;
}

.recent-posts ul a {
  text-decoration: none;
}

.recent-posts ul li img {
  display: inline-block;
  max-width: 100%;
  margin-right: 15px;
}

.recent-posts ul li .text {
  display: inline-block;
}

.recent-posts ul li h6 {
  margin-bottom: 5px;
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
}

.recent-posts ul li span {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  color: #f4dd5b;
}


.latest-gallery ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.latest-gallery ul li {
  display: inline-block;
  max-width: 59px;
  overflow-y: hidden;
  margin-bottom: 3px;
  margin-right: 1px;
}

.latest-gallery ul li:nth-child(4){
  margin-right: 0px;
}

.latest-gallery ul li:nth-child(8){
  margin-right: 0px;
}

.latest-gallery ul li img {
  width: 100%;
  transition: all 0.5s;
}

.latest-gallery ul li img:hover {
  cursor: none;
  opacity: 0.5;
}




@media (max-width: 530px) {

  .modal-header h3 {
    margin-top: 5%;
	font-size: 18px;
  }

  .modal-body input {
    width: 100%;
  }

  .modal-body textarea {
    width: 100%;
  }

  .modal-content {
    padding-bottom: 40px;
  }

  .grid-portfolio {
    padding: 0px 0px;
  }

  .grid-portfolio .portfolio-item {
    margin: 30px 0px;
  }

  .grid-portfolio .load-more-button {
    padding-bottom: 30px;
  }

  .more-about-us .content {
    padding: 60px 30px;
  }
  
  .dropdown-checkbox-list {
	width: 100%!important;
  }
  
  .dropdown-content label {
	width: 100%!important;
  }
}


@media (max-width: 992px) {

  .blog-entries .blog-posts {
    margin-right: 0px;
  }

  .single-blog-post {
    margin-right: 0px;
    margin-bottom: 80px;
  }

  .blog-entries .page-number {
    margin-bottom: 80px;
  }

  .single-blog-post .tags-share .tags {
    text-align: center;
  }

  .single-blog-post .tags-share .share {
    text-align: center;
  }

}

.lb-details .data-title {
  background-color: white;
  color: black; /* Optionally change text color */
}

/* Scroll Down */

.scrolldown-wrapper {
	left: 50%;
	position: absolute;
	text-align: center;
	bottom: 14vh;
	transform: translate(-50%, -50%);
}
  
.scrolldown {
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	height: 46px;
	margin: 0 auto 8px;
	text-align: center;
	width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: #FFFFFF;
}
  
.scrolldown-p2 {
	animation-delay: .75s;
}

@keyframes scrolldown {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}

.ui-datepicker {
  background-color: #000; /* Background color */
  border-radius: 5px; /* Rounded corners */
}

.ui-datepicker-calendar {
  color: #fff; /* Text color */
}

.ui-datepicker-calendar td {
  text-align: center; /* Center the content */
  padding: 10px; /* Add padding */
}

.ui-datepicker-calendar a {
  color: #fff; /* Link color */
}

.ui-datepicker-header {
  border-bottom: none; /* Remove border bottom from header */
  background-color: transparent; /* Transparent background */
}

.ui-datepicker-title {
  color: #fff; /* Title color */
  font-weight: 600; /* Bold font weight */
}

.ui-datepicker-prev, .ui-datepicker-next {
  background-color: #ffffff; /* White background */
  border: 0.5px solid #000000; /* Black border */
  border-radius: 3px; /* Rounded border */
  padding: 2px; /* Add padding */
  margin: 0 1x; /* Add spacing */
  margin-bottom: 10px;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
}

.footer-icons {
    text-align: center;
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    margin: 0 11px;
}

.footer-icons img {
    width: 21px; /* Adjust the size as needed */
    height: 21px; /* Adjust the size as needed */
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #fff;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 5vmin;
  padding: 1vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #F;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  lowercase: true;
  color: #FFF;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.custom-cursor {
  position: fixed; 
  left: 0;
  top: 0;
  width: 15px;    /* Outer circle size */
  height: 15px;
  border: 2px solid #fff;  /* Outer circle border */
  border-radius: 50%;
  background-color: transparent; /* No fill for outer circle */
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999;
  transition: all 0.1s ease-out;
}

.custom-cursor::after { 
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;   /* Inner dot size */
  height: 4px;
  background-color: #fff; /* Inner dot color */
  border-radius: 50%;
  z-index: 999999;
}

/* lineup class and keyframes */
.lineUp {
  animation: 3s anim-lineUp ease-out 0.5s;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#video-container { 
  opacity: 0;          /* Initially hide content */
  visibility: hidden; 
}

.preloader {
  position: fixed;        /* Cover entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;  /* Customize background as needed */
  z-index: 5000;           /* Ensure preloader is on top */
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.spinner { /* Style this as you like! */
  width: 40px;
  height: 40px;
  border: 5px solid #FFF; 
  border-top-color: #aed581;  
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.preloader.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.flex-container {
  display: flex;
  align-items: left; 
}


/* Styling for the dropdown container */
.dropdown-checkbox-list {
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.15);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    cursor: none;
}    


.dropdown-title {
  border-radius: 5px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  width: 60%;
  margin-bottom: 25px;
  cursor: none;
  

}

.dropdown-title .arrow {
  /* Style your dropdown arrow here */
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
  margin-left: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 5px;
  max-height: auto; /* Adjust max-height as needed */
  overflow-y: auto;
  background-color: #000;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Example shadow */
  border-radius: 3px;
  z-index: 1; /* Ensure dropdown is above other content */
}

.dropdown-checkbox-list.open .dropdown-content {
  display: inline-block!important; 
}

.dropdown-content label {
  display: inline-block!important;
  font-size: 14px;
  font-weight: 200;
  border-radius: 5px;
  margin-bottom: 1px;
  color: #fff; /* Adjust label color */
  /* display: block;
  border-bottom: 1px solid #eee; /* Optional separator */ 
}

.dropdown-content label:hover {
  background-color: rgba(250, 250, 250, 0.15);
}

.dropdown-content label input[type="checkbox"] {
  height: 11px;
  width: 11px;
  vertical-align: middle; 
  margin-bottom: 7px;
  cursor: none;
}

.container-testimonial {
  width:42vw;
  min-height:420px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
}

@media (max-width: 530px) {
	.container-testimonial {
		width: 100%;
		min-height: 470px;
	}
}
	
.container-testimonial h1 {
  text-align:center;
  text-shadow:0 1px white;
  color:#02303F;
}
.container-testimonial h2 {
  color:#fff; 
  margin:15px 0 5px;
}
.container-testimonial h6 {
  color:#313131; 
  margin:0;
}
.container-testimonial input[type="radio"] {
	/* position: absolute; */
	width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container-testimonial label {
  display:block;
  width:5%;
  border: 3px solid white;
  position:absolute;
  bottom:10px;
  cursor: none;
  transition: border-color 0.3s cubic-bezier(0, 0, 0.2, 1);
  border-radius: 2px;
  left: 37%;
}

.container-testimonial label.second {
  left:47.8%;
}
.container-testimonial label.third{
  left:58.5%;
}

.container-testimonial blockquote {
  margin: 0;
  padding: 35px;
  width: 100%;
  background-color: #f45a52;
  color: white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position: relative;
  transition: background-color 0.6s cubic-bezier(0, 0, 0.2, 1);
  border: solid transparent;
  border-width: 10px;
}

.container-testimonial blockquote:after { 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  top: 100%; 
  border-width: 10px; 
  left: 10%; 
} 
.container-testimonial #second:checked ~ .two blockquote {
  background-color: #feca5f;
}
.container-testimonial .two blockquote:after{
  border: solid transparent; 
  border-top-color: #feca5f;
  border-left-color: #feca5f;
  border-width: 10px;
}
.container-testimonial #third:checked ~ .three blockquote {
  background-color:#63cbe5;
}
.container-testimonial .three blockquote:after {
  border: solid transparent; 
  border-top-color: #63cbe5;
  border-left-color: #63cbe5;
  border-width: 10px;
}
.container-testimonial .quotes {
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}
.container-testimonial .leftq {
  top:-20px;
  left:5px;
}
.container-testimonial .rightq {
  bottom:-15px;
  right:5px;
}
.container-testimonial img {
  float:left;
  margin-right: 20px;
}
.slide {
  position:absolute;
  left:-100%;
  opacity:0;
	
}

.container-testimonial #first:checked ~ label.first {
  border-width:6px;
  border-color:#f45a52;
}
.container-testimonial #second:checked ~ label.second {
  border-width: 6px;
  border-color: #feca5f;
}
#third:checked ~ label.third {
  border:6px solid #63cbe5;
}

.container-testimonial #first:checked ~ div.one {
  left:0;
  opacity:1;
}
.container-testimonial #second:checked ~ div.two {
  left:0;
  opacity:1;
}
.container-testimonial #third:checked ~ div.three {
  left:0;
  opacity:1;
}
