@font-face {
  font-family: 'Nordstern';
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/nordstern/hinted-NordsternDemo-Bold.eot");
  src: url("./fonts/nordstern/hinted-NordsternDemo-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/nordstern/hinted-NordsternDemo-Bold.woff2") format("woff2"),
    url("./fonts/nordstern/hinted-NordsternDemo-Bold.woff") format("woff"),
    url("./fonts/nordstern/hinted-NordsternDemo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nordstern';
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/nordstern/hinted-NordsternDemo-Regular.eot");
  src: url("./fonts/nordstern/hinted-NordsternDemo-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/nordstern/hinted-NordsternDemo-Regular.woff2") format("woff2"),
    url("./fonts/nordstern/hinted-NordsternDemo-Regular.woff") format("woff"),
    url("./fonts/nordstern/hinted-NordsternDemo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Nordstern';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/nonchalance/Nonchalance-Regular.woff') format('woff');
}
    

@font-face {
    font-family: 'Nonchalance';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/nonchalance/Nonchalance-Medium.woff') format('woff');
}
    

    @font-face {
    font-family: 'Nonchalance';
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/nonchalance/Nonchalance-Bold.woff') format('woff');
}

body {
  background-color: #ffffff;
  background-repeat: repeat;
  color: #acb1ba;
  font-family: "Nonchalance", sans-serif;
  letter-spacing: 0.2rem;
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
  cursor: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 25.1.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16.1px' height='14px' viewBox='0 0 16.1 14' style='overflow:visible;enable-background:new 0 0 16.1 14;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23838A97;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M7.1,1.5l8.8,11.1c0.5,0.7-0.2,1.6-1,1.2L2.2,7.5C-3.3,4.3,2.7-3.2,7.1,1.5z'/%3E%3C/svg%3E%0A") 7 11,
    pointer;
  z-index: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

*:focus {
  outline: transparent;
}

*::-moz-focus-inner {
    border: transparent;
}

.container container-ph {
  height: 0;

  position: absolute;
  z-index: 1 !important;

}

.containerblur {
  filter: blur(1.618px);
  transition: filter 1.618s ease;
  z-index: 99999;

}

.containerblur:focus {
  filter: none;
}

.iframe--responsive {
  position: absolute;
  top: 5%;
  left: 28vw;
  width: 42vw;
  height: 42vh;
  border: none;
  z-index: 1 !important;

}

.iframe2--responsive {
  position: absolute;
  top: 5%;
  left: 42vw;
  width: 15vw;
  height: 15vh;
  border: none;
  z-index: 1 !important;

}

.iframe3--responsive {
  position: absolute;
  bottom: calc(35% - 25vh);
  left: 47vw;
  width: 5vw;
  height: 5vh;
  border: none;
  z-index: 1 !important;

}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}

.site-wrap.show-all {
  transform: rotateY(-1deg) scale(0.3);
}

h1 {
  font-style: normal;
  font-weight: 100;
  margin: 0;
}

.panel-wrap {
  height:  100dvh;
  width:  100dvw;
  perspective: 2000px;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.panel-wrap.animate--shrink {
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
}

.panel {
  height:  100vh;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  width:  100vw;
  will-change: transform;
}

.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}

.show-all .panel:before {
  pointer-events: all;
}

.show-all .panel:hover:before {
  background-color: rgba(0, 0, 0, 0.1);
}

.animate--shrink.animate .panel {
  transform: scale(0.7);
}

.panel h1 {
  left: 50%;
  line-height: 0.8;
  position: absolute;
  text-align: center;
  padding-left: 0.5em;
  top: 52%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

h2 {
  left: 50%;
  line-height: 0.8;
  position: absolute;
  text-align: center;
  padding-left: 0.5em;
  top: 7vh;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

h3 {
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  font-size: small;
  font-family: 'Nordstern';
  top: 80%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

h4 {
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  font-size: 0.8em;
  font-family: 'Nordstern';
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

h6 {
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  font-size: 0.5em;
  font-family: 'Nordstern';
  opacity: 0.4;
  top: calc( 100vh - 11rem);
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

.h7 {
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  font-size: 0.618em;
  font-family: C;
  opacity: 0.8;
  top: calc( 100vh - 10rem);
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

br {
  content: "";
  font-family: 'Nordstern';
  margin: 0.3em;
  display: flex;
  font-size: 30%;
}

br .concept {
  content: "";
  font-family: 'Nordstern';
  margin: 0.1em;
  display: flex;
  font-size: 50%;
}

.panel[data-x-pos="-2"] {
  left: -200%;
}

.panel[data-x-pos="-1"] {
  left: -100%;
}

.panel[data-x-pos="1"] {
  left: 100%;
}

.panel[data-x-pos="2"] {
  left: 200%;
}

.panel[data-y-pos="-2"] {
  top: 200%;
}

.panel[data-y-pos="-1"] {
  top: 100%;
}

.panel[data-y-pos="1"] {
  top: -100%;
}

.panel[data-y-pos="2"] {
  top: -200%;
}

.panel__zoom {
  left: 50%;
  opacity: 0.2;
  position: absolute;
  top: 55%;
  transform: translateX(-50%) translateY(-50%) translateY(12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  font-family: 'Nordstern';
  font-weight: bold;
  z-index: 10;
}

.panel__zoom:hover {
  opacity: 1;
}

.show-all .panel__zoom {
  pointer-events: none;
}

.panel__nav {
  cursor: pointer;
  opacity: 0.2;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
  font-family: 'Nordstern';
}

.panel__nav--up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  font-size: 0.7rem;
}

.panel__nav--left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  font-size: 0.7rem;
}

.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
  font-size: 0.7rem;
}

.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
  font-size: 0.7rem;
}

.panel__nav--right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
  font-size: 0.7rem;
}

.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
  font-size: 0.7rem;
}

.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
  font-size: 0.7rem;
}

.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
}

.panel__nav:hover {
  opacity: 1;
}

.panel__animation-list {
  font-size: 3.3vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(14vmin);
}

.panel__animation-list span {
  cursor: pointer;
  display: inline-block;
  opacity: 0.2;
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
}

.panel__animation-list span:after {
  border-bottom: 0.3vmin solid transparent;
  bottom: 0;
  content: "";
  left: -1px;
  position: absolute;
  right: 0;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
}

.panel__animation-list span.active,
.panel__animation-list span:hover {
  opacity: 1;
}

.panel__animation-list span.active:after,
.panel__animation-list span:hover:after {
  border-color: white;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.car_btn {
  top: 2.617vh;
  right: 1.618vw;
  position: absolute;
  color: #333;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #f9f9f9;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  opacity: 0.5;
}

.car_btn:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-in-out;
}

.car_btn2 {
  top: 2.617vh;
  left: 1.618vw;
  position: absolute;
  color: #333;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #f9f9f9;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  opacity: 0.5;
}

.car_btn2:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-in-out;

}

.car_btn3 {
  top: 2.617vh;
  right: 1.618vw;
  position: absolute;
  color: #333;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #f9f9f9;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  opacity: 0.5;
}

.car_btn3:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-in-out;

}

.car_btn4 {
  margin: 0;
  position: absolute;
  top: 71vh;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 0.3rem;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #f9f9f9;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  opacity: 0.5;
}

.car_btn4:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-in-out;

}

.imgp {
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.imgb {
  float: left;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .flex-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .site-wrap {
    height: 100dvh;
    width: 100dvw;
  }
}

@media (max-width: 768px) {
   .panel-wrap {
     height:  100dvh;
     width:  100dvw;
  }
}

@media screen and (orientation: landscape) {
    body {
     height: 100vh;
     width: 100vw;
    }

  .site-wrap {
    height: 100dvh;
    width: 100dvw;
  }

  .flex-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
}

:root {
  --animate-duration: 1800ms;
  --animate-delay: 2s;
}