    @font-face {
    font-family: 'Nonchalance';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Nonchalance-Regular'), url('./fonts/Nonchalance-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nonchalance';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Nonchalance-Medium'), url('./fonts/Nonchalance-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nonchalance';
    font-style: normal;
    font-weight: bold;
    src: local('./fonts/Nonchalance-Bold'), url('./fonts/Nonchalance-Bold.woff') format('woff');
    }